/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */
.brown {
  background-color: Sienna;
}

/*partofflag1*/
.warm .item2 {
  background: green;
}
.hot .item2 {
  background: orangered;
}
.cold .item2 {
  background: DarkTurquoise;
}
/*partofflag2*/

.mist .item3 {
  background: DarkSeaGreen;
}

.clouds .item3 {
  background: Gainsboro;
}
.thunderstorm .item3 {
  background: MidnightBlue;
}
.haze .item3 {
  background: #bdb76b;
}
.drizzle .item3 {
  background: DimGrey;
}
.dust .item3 {
  background: #faebd7;
}
.rain .item3 {
  background: DarkBlue;
}
.snow .item3 {
  background: LightCyan;
}
.clear .item3 {
  background: SkyBlue;
}
.atmosphere .item3 {
  background: GreenYellow;
}
.calm .item4 {
  background: Plum;
}
.windy .item4 {
  background: Magenta;
}
.breezy .item4 {
  background: Gold;
}

.text1 {
  font-family: "Do Hyeon", sans-serif;
}

.pic {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 100opx;
}

.shake {
  animation: shake 1.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-6px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(7px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-20px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(20px, 0, 0);
  }
}
.jones {
  background: linear-gradient(#87ceeb, #26a0da, #4169e1, #00bfff);
}
.jones2 {
  background: linear-gradient(#2f4f4f, #000000);
}

.jones3 {
  font-size: 90px;
}

.jones4 {
  background-color: transparent;
  border: none;
  align-items: baseline;
}
